@import 'fonts.css';

:root {
    --primary-background: #ffffff;
    --secondary-background: #7177F1;
    --primary-title-color: #7177F1;
    --secondary-text-color: #7177F1;
    --secondary-title-color: #ffffff;
    --primary-text-color: #323232;
    --secondary-text-colot-alt: #FFFFFF;
    --primary-font-famaly: 'Montserrat';
}

body {
    font-family: var(--primary-font-famaly);
    background: var(--primary-background);
}

.header__link {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 30px;
    transition: .5s;
}

.header__link:hover {
    color: var(--primary-text-color);
}

.header__button {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    transition: .5s;
    margin-right: 60px;
}

.header__button:hover {
    background: var(--primary-background);
    color: var(--secondary-text-color);
}

.icon-phone-square-alt::before {
    content: "\f87b";
    font-style: normal;
}

.header__phone {
    color: var(--secondary-text-color);
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
}

.header__phone:hover {
    color: var(--primary-text-color);
}

.intro {
    padding-top: 40px;
    position: relative;
}

.rectangle{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    z-index: -1;
}

.rectangle_1{
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -30px;
    left: 240px;
}

.rectangle_2{
    border-color: #9297EF;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
}

.rectangle_3{
    border-color: #9297EF;
    width: 100px;
    height: 100px;
    top: 10px;
    right: 160px;
}

.rectangle_4{
    border-color: #7177F1;
    transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
    width: 80px;
    height: 80px;
    bottom: 180px;
    right: 300px;
}








.slider-left_title {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-weight: 600;
}

.slider-left-text {
    font-size: 40px;
    color: var(--secondary-title-color);
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 600;
}

.slider-left_link {
    font-size: 18px;
    width: 299px;
    height: 45px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 400;
}

.slider-left_link:hover {
    color: var(--secondary-title-color);
}

.slider-left_icon_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-left_icon {
    margin-top: 50px;
}

.slider-left_icon_text {
    font-size: 20px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
    background: var(--primary-title-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    position: relative;
}

.button-indicator {
    position: relative;
    gap: 15px;
    margin-top: 0;
}

.carousel-photo {
    height: 550px;
    object-fit: contain;
    max-width: 100%;
}




/* section about */

.about__motto {
    text-transform: uppercase;
    background: var(--primary-background);
    width: 190px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    position: absolute;
    color: var(--primary-text-color);
    left: 0;
    top: 10px;
}

.about__rating {
    background: #0FDAC2;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    position: absolute;
    right: -10px;
    top: -14px;
    letter-spacing: 3px;
}

.about__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    color: var(--primary-title-color);
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about__text {
    font-size: 19px;
    line-height: 150%;
    text-transform: capitalize;
    margin-bottom: 40px;
    color: var(--primary-text-color);
}

.about__button {
    width: 190px;
    height: 45px;
    background: var(--secondary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--secondary-text-colot-alt);
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 75px;
    margin-left: 80px;
}

.about__button:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-background);
}

.about__content {
    background: var(--primary-background);
    padding: 30px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.about {
    position: relative;
    padding-top: 80px;
}


.accordion_button::after {
    display: none;
}

.accordion_button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 15px 30px 0 30px;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 900;
    color: var(--secondary-title-color);
    text-transform: uppercase;
    background: var(--secondary-background);
}



.accordion_button.collapsed {
    color: var(--primary-title-color);
    background: transparent;
}

.accordion_logo {
    width: 50px;
    height: 30px;
    object-fit: contain;
}

.accordion_button.collapsed::after {
    background: #DDDDDD;
}

.accordion__item:not(:last-child) .accordion_button::after {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    margin-top: 15px;
}

.accordion_body {
    padding: 25px 30px 55px;
    background: var(--secondary-background);
    color: var(--secondary-text-colot-alt);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    margin-top: 75px;
}

.rectangle_5{
    width: 60px;
    height: 60px;
    bottom: -80px;
    right: 113px;
    border-radius: 50%;
    border-color: #9297EF;
}





/* capabilities */

.capabilities__title {
    color: var(--primary-title-color);
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.capabilities {
    padding-top: 80px;
    position: relative;
}

.section_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}

.shape{
    position: absolute;
    z-index: -1;
}

.shape_1{
    top: -400px;
    right: 0;
    width: 60%;
}



.rectangle_6{
    width: 60px;
    height: 60px;
    top: 170px;
    left: 343px;
    border-radius: 50%;
    border-color: #9297EF;
}


/*  works */

.works{
    padding-top: 75px;
    position: relative;
}

.works__tab{
    width: 100%;
    background: var(--primary-background);
    box-shadow: 0px 0px 2px rgba(113, 119, 241, 0.5);
    height: 60px;
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 20px;
    transition: 0.5s;
}



.works__item:first-child .works__tab{
    border-radius: 8px 8px 0px 0px;
}

.works__item:last-child .works__tab{
    border-radius: 0px 0px 8px 8px;
}

.works__tab.active,
.works__tab:hover{
    background: var(--secondary-background);
    color: var(--secondary-text-colot-alt);
}

.works__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 320px;
    object-position: center;
}

.works__content{
    padding: 20px;
    background: var(--primary-background);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.works__name{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--primary-title-color);
    margin-bottom: 25px;
}

.works__text{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
    color: var(--primary-text-color);
}

.works__link{
    width: 190px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-text-colot-alt);
    transition: 0.5s;
}

.works__link:hover{
    color: var(--primary-text-color);
    background: var(--primary-background);
}

.rectangle_7{
    width: 120px;
    height: 120px;
    border-color: #7177F1;
    top: 280px;
    left: 128px;
    border-radius: 50%;
}

.rectangle_8{
    width: 100px;
    height: 100px;
    border-color: #7177F1;
    top: 310px;
    right: 90px;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

.rectangle_9{
    width: 60px;
    height: 60px;
    border-color: #790FF1;
    top: 480px;
    right: 781px;
    border-radius: 50%;
}



.shape_2{
    width: 60%;
    top: -200px;
    left: 1px;
    
}


/* footer */

.footer{
    position: relative;
    margin-top: 220px;
    padding-bottom: 130px;
}

.footer__link, 
.footer__contact{
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-text-color);
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.footer__link:hover, 
.footer__contact:hover{
    color: var(--primary-text-color);
    text-decoration-color: inherit;
}


.rectangle_10{
    width: 75px;
    height: 75px;
    border-color: #790FF1;
    bottom: 94px;
    left: 125px;
    border-radius: 50%;
}

.navbar-brand::before{
    content: url(../img/MYWORK.png);
}

.nav{
    padding-left: 12px;
}

.footer__img::before{
    content: url(../img/MYWORK.png);
}



