@import 'fonts.css';

:root {
    --primary-background: #ffffff;
    --secondary-background: #7177F1;
    --primary-title-color: #7177F1;
    --secondary-text-color: #7177F1;
    --secondary-title-color: #ffffff;
    --primary-text-color: #323232;
    --primary-font-famaly: 'Montserrat';
}

.header__link {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 30px;
    transition: .5s;
}

.header__link:hover {
    color: var(--primary-text-color);
}

.header__button {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-title-color);
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    transition: .5s;
    margin-right: 60px;
}

.header__button:hover {
    background: var(--primary-background);
    color: var(--secondary-text-color);
}

.icon-phone-square-alt::before {
    content: "\f87b";
    font-style: normal;
}

.header__phone {
    color: var(--secondary-text-color);
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
}

.header__phone:hover {
    color: var(--primary-text-color);
}

.slider-left_title {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-weight: 600;
}

.slider-left-text {
    font-size: 40px;
    color: var(--secondary-text-color);
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 600;
}

.slider-left_link {
    font-size: 18px;
    width: 299px;
    height: 45px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 400;
}

.slider-left_link:hover{
    color: var(--secondary-title-color);
}

.slider-left_icon_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-left_icon{
    margin-top: 50px;
}

.slider-left_icon_text{
    font-size: 20px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
    background: var(--primary-title-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    position: relative;
}

.button-indicator{
    position: relative;
    gap: 15px;
    margin-top: 50px;
}

.carousel-photo{
    height: 550px;
    object-fit: cover;
}