@import 'fonts.css';

:root {
    --primary-background: #ffffff;
    --secondary-background: #7177F1;
    --primary-title-color: #7177F1;
    --secondary-text-color: #7177F1;
    --secondary-title-color: #ffffff;
    --primary-text-color: #323232;
    --secondary-text-colot-alt: #FFFFFF;
    --primary-font-famaly: 'Montserrat';
}

body {
    font-family: var(--primary-font-famaly);
    background: var(--primary-background);
}

.header__link {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 30px;
    transition: .5s;
}

.header__link:hover {
    color: var(--primary-text-color);
}

.header__button {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-title-color);
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    transition: .5s;
    margin-right: 60px;
}

.header__button:hover {
    background: var(--primary-background);
    color: var(--secondary-text-color);
}

.icon-phone-square-alt::before {
    content: "\f87b";
    font-style: normal;
}

.header__phone {
    color: var(--secondary-text-color);
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
}

.header__phone:hover {
    color: var(--primary-text-color);
}

.slider-left_title {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-weight: 600;
}

.slider-left-text {
    font-size: 40px;
    color: var(--secondary-text-color);
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 600;
}

.slider-left_link {
    font-size: 18px;
    width: 299px;
    height: 45px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 400;
}

.slider-left_link:hover {
    color: var(--secondary-title-color);
}

.slider-left_icon_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-left_icon {
    margin-top: 50px;
}

.slider-left_icon_text {
    font-size: 20px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
    background: var(--primary-title-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    position: relative;
}

.button-indicator {
    position: relative;
    gap: 15px;
    margin-top: 0;
}

.carousel-photo {
    height: 550px;
    object-fit: cover;
}


/* section about */

.about__motto {
    text-transform: uppercase;
    background: var(--primary-background);
    width: 190px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 10px;
}

.about__rating {
    background: #0FDAC2;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    position: absolute;
    right: -10px;
    top: -14px;
    letter-spacing: 3px;
}

.about__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    color: var(--primary-title-color);
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about__text {
    font-size: 19px;
    line-height: 150%;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.about__button {
    width: 190px;
    height: 45px;
    background: var(--secondary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--secondary-text-colot-alt);
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 75px;
    margin-left: 80px;
}

.about__button:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-background);
}

.about__content {
    background: var(--primary-background);
    padding: 30px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.about {
    padding-top: 80px;
}


.accordion_button::after {
    display: none;
}

.accordion_button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 15px 30px 0 30px;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 900;
    color: var(--secondary-title-color);
    text-transform: uppercase;
    background: var(--secondary-background);
}



.accordion_button.collapsed {
    color: var(--primary-title-color);
    background: transparent;
}

.accordion_logo {
    width: 50px;
    height: 30px;
    object-fit: contain;
}

.accordion_button.collapsed::after {
    background: #DDDDDD;
}

.accordion__item:not(:last-child) .accordion_button::after {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    margin-top: 15px;
}

.accordion_body {
    padding: 25px 30px 55px;
    background: var(--secondary-background);
    color: var(--secondary-text-colot-alt);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    margin-top: 75px;
}

.capabilities__title {
    color: var(--primary-title-color);
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.capabilities {
    padding-top: 80px;
}

.section_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}